body {
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    background-color: #f4f4f4;
    color: #1b1a17;
}

#header {
    height: 90px;
    display: flex;
    align-items: center;
}

#header-img {
    flex-basis: auto;
    flex-shrink: 0;
    margin-right: auto;
}

#nav-bar {
    display: inline-flex;
    justify-content: flex-end;
    margin-right: 3rem;
}

.nav-link {
    padding-right: 3rem;
    font-size: 1.2rem;
}

.content-body {
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
}

h5 {
    margin-bottom: 10px;
}

button {
    display: block;
    margin: 5px auto;
    background-color: #F0A500;
    border: none;
    font-weight: 600;
    height: 25px;
}

input {
    width: 250px;
}

div {
    text-align: center;
}