body {
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    background-color: #f4f4f4;
    color: #1b1a17;
}

#header {
    height: 90px;
    display: flex;
    align-items: center;
}

#header-img {
    flex-basis: auto;
    flex-shrink: 0;
    margin-right: auto;
}

#nav-bar {
    display: inline-flex;
    justify-content: flex-end;
    margin-right: 3rem;
}

.nav-link {
    padding-right: 3rem;
    font-size: 1.2rem;
}

.content-body {
    display: flex;
    justify-content: center;
    margin: 0 25%;
    flex-direction: column;

}

h5 {
    margin-bottom: 10px;
    font-size: 1.7rem;
}

button {
    display: block;
    margin: 5px auto;
    background-color: #FFC60B;
    border: none;
    font-weight: 800;
    height: 25px;
}

button:hover {
    background-color: #Ff8b00;
}

input {
    width: 250px;
}

.product-info {
    display: inline-flex;
    /* padding-left: 1.5rem; */
}

.product-info img {
    padding-right: 2rem;
}

/* h4 {
    display: block;
} */

/* p {
    display: block;
} */