@import './reset';




.image-wrapper {

    .image-1, .image-3 {
        width: 600px;
        height: 400px;
    }

    .image-2 {
        width: 400px;
        height: 400px;
    }
}

// .hero-img {
//     width: 400px;
// }

h1 {
    font-family: Anton, sans-serif;
}

h2, h3, h4, h5, h6 {
    font-family: Raleway, sans-serif;
}

a {
    text-decoration: none;
    color: linen;
}

main {
    display: grid;
    //minmax function makes the column responsive on any device
    grid-template-columns: minmax(2rem, 1fr) minmax(min-content, 94rem) minmax(2rem, 1fr);

    //add spaces between rows in grid layout
    row-gap: 3rem;
    
}

.heading, .text {
    grid-column: 2 /3;
}

.heading {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.5rem;
}

.hero {
    grid-column: 1/ -1;
    position: relative;
}
.hero-title {
    text-align: center;
    color: orangered;
    font-size: 8rem;
}
.hero-subtitle {
    font-size: 2.4rem;
    color: orangered;
    text-align: center;
}

img {
    width: 100%;
    object-fit: cover;
}